:root {
  --chatbot-background: #FFFFFF;
  --chatbot-theme-color-dark: #19c37d;
  --chatbot-theme-color-light: #F2F2F2;
  --text-color-light: #FFFFFF;
  --text-color-dark: #000000;
  --elements-color-light: #CCCCCC;
  --error-text-color: #721C24;
  --error-background: #F8D7DA;
  --send-icon-background: #e5e5e5;
}

/* Chatbot */
.chatbot {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
  background: var(--chatbot-background);
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  height: 580px;
}

.chatbot__header {
  background: var(--chatbot-theme-color-dark);
  padding: 16px 0;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chatbot__title {
  color: var(--text-color-light);
  font-size: 1.4rem;
}

.chatbox {
  overflow-y: auto;
  padding: 30px 20px 100px;
  flex: 1;
}

.chatbox__msg {
  display: flex;
}

.chatbox__msg-text {
  max-width: 75%;
  color: var(--text-color-light);
  white-space: pre-wrap;
  font-size: 0.95rem;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  background: var(--chatbot-theme-color-dark);
}

.chatbox__msg_incoming .chatbox__msg-text {
  color: var(--text-color-dark);
  background: var(--chatbot-theme-color-light);
  border-radius: 10px 10px 10px 0;
}

.chatbox__msg_incoming .chatbox__msg-text.error {
  color: var(--error-text-color);
  background: var(--error-background);
}

.chatbox__msg_incoming .chatbox__msg-icon {
  align-self: flex-end;
  height: 32px;
  width: 32px;
  padding: 4px;
  color: var(--text-color-light);
  background: var(--chatbot-theme-color-dark);
  text-align: center;
  line-height: 32px;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox__msg_outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbot__input-container {
  display: flex;
  gap: 5px;
  width: 100%;
  background: var(--chatbot-background);
  padding: 5px 20px;
  border-top: 1px solid var(--elements-color-light);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.chatbot__input-textarea {
  height: 55px;
  max-height: 180px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.95rem;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chatbot__input-btn {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  color: var(--text-color-light);
  font-size: 1.35rem;
  cursor: pointer;
  background: none;
  border: none;
  visibility: hidden;
}

.chatbot__input-btn .chatbot__send-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--send-icon-background);
}

.chatbot__input-textarea:valid~.chatbot__input-btn {
  visibility: visible;
}

/* @media (min-width: 490px) {
  .chatbot {
    right: 40px;
    bottom: 100px;
    width: 420px;
    height: unset;
    border-radius: 15px;
  }

  .chatbot__header .chatbot__mobile-close-btn {
    display: none;
  }

  .chatbox {
    height: 470px;
  }
} */